.section {
    width: 100%;
    padding: 4rem 1.5rem;
    /* Mobile first padding */
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    width: 100%;
}

.default {
    background-color: var(--bg-primary);
    /* #f6f6f4 */
}

.white {
    background-color: var(--white);
}

.accent {
    background-color: var(--accent-soft);
    /* #c4cebc */
}

@media (min-width: 768px) {
    .section {
        padding: 6rem 2rem;
    }
}